@import "bootstrap/css/bootstrap.min.css";
@import "bootstrap/morph.min.css";


* {
  position: relative;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.left-menu-size {
  width: 8em;
}

.box-sizing-border {
  box-sizing: border-box !important;
}


.rounded-lg {
  border-radius: 1em !important;
}

.btn {
  @extend .rounded-lg;
  transition: .2s;
}

.btn:hover {
  transition: .2s;
}

.box {
  @extend .rounded-lg;
  display: block;
  background: white;
  padding: 1.5rem !important;

}

.box-filter {
  width: 24em !important;
}

.phrase-searcher-result {
  z-index: 10;
}

.nav-item-icon {
  display: inline-block;
  padding: 0.5em;
  border-radius: 8px;

}

.navbar-white {
  background: white !important;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f5fa;

}

::-webkit-scrollbar-thumb {
  background: #7b8ab8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b8ab8;
}

